@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Work+Sans:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}
.col-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
.p1{
    color: var(--colors-heading, #1E0E62);
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.4px;
width: 362px;
padding-top: 100px;
}
.p2{
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 355px;
padding-top: 25px;
}
.phonelogo{
    color: var(--action-primary, #25DAC5);
text-align: center;
font-family: FontAwesome;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 38px;
padding-top: 34px;
}
.emaillogo{
    color: var(--action-primary, #25DAC5);
    text-align: center;
    font-family: FontAwesome;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    padding-top: 12px;
}
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.phoneno{
    padding-top: 34px;
    padding-left: 16px;
}
.emailno{
padding-top: 12px;
padding-left: 16px;
}
.find{
    color: var(--colors-heading, #1E0E62);
font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 32px;
width: 362px;
padding-top: 44px;
}
.via{
    width: 368px;
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.map{
    width: 370px;
height: 230px;
flex-shrink: 0;
margin-top: 34px;
}
.p3{
    color: var(--colors-heading, #1E0E62);
font-family: DM Sans;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.4px;
width: 362px;
padding-top: 100px;
}
.p4{
    color: var(--colors-text, rgba(21, 20, 57, 0.40));
width: 469px;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.card{
    width: 470px;
height: 550px;
flex-shrink: 0;
border-radius: 10px;
/* opacity: 0.30000001192092896; */
background: var(--colors-grey, #EBEAED);
margin-top: 34px;
margin-bottom: 100px;
}
.E-MAIL{
    color: var(--colors-heading, #1E0E62);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
letter-spacing: 2px;
text-transform: uppercase;
padding-left: 50px;
padding-top: 48px;
}
.email{
    width: 370px;
height: 50px;
border-radius: 100px;
border: 2px solid var(--colors-grey, #EBEAED);
background: var(--colors-white, #FFF);
padding-left: 24px;
margin-left: 50px;
}
.p5{
    color: var(--colors-heading, #1E0E62);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 37px;
}
.message{
    width: 370px;
height: 170px;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid var(--colors-grey, #EBEAED);
background: var(--colors-white, #FFF);
padding-left: 19px;
margin-left: 50px;
padding-bottom: 82px;
}
.name{
padding-left: 24px;
margin-left: 50px;
width: 270px;
height: 50px;
flex-shrink: 0;
border-radius: 100px;
border: 2px solid var(--colors-grey, #EBEAED);
background: var(--colors-white, #FFF);
}
.p6{
    color: var(--colors-heading, #1E0E62);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 2px;
text-transform: uppercase;
padding-top: 35px;
padding-left: 50px;
}
.button{
    width: 90px;
height: 50px;
flex-shrink: 0;
border-radius: 100px;
background: var(--action-primary, #25DAC5);
cursor: pointer;
border: none;
color: var(--colors-white, #FFF);
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
margin-left: 10px;
}
.pt-49{
    padding-top: 49px;
}
.emailad{
    color: var(--colors-heading, #1E0E62);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
}
.phonead{
    color: var(--colors-heading, #1E0E62);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; 
}